extends ../pug/layout_default.pug

block variables
	- var isMainPage = false
block meta
	title Блог

block header-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html', mod: 'main-nav__link_active'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block side-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html', mod: 'main-nav__link_active'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block content
	section.section.section_alt.blog
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						h1.blog__title.page-title Блог
						.section__body
							.blog__grid
								.banner.banner_compact
									.banner__content
										p.banner__label Авторский проект
										p.banner__name Елены Зубаревой
										h2.banner__title Формула бренда
										a.banner__button.button.button_inverted(href='rubric.html') Узнать подробнее
								.blog__rubrics
									h2.blog__rubrics-title Рубрики блога:
									ul.blog__list
										li.blog__list-item
											a.blog__list-link(href='rubric.html') Формула бренда
										li.blog__list-item
											a.blog__list-link(href='#') Интервью
										li.blog__list-item
											a.blog__list-link(href='rubric_2.html') Неправовые нормы для директоров
										li.blog__list-item
											a.blog__list-link(href='#') Правовые нормы для учителей
										li.blog__list-item
											a.blog__list-link(href='#') Учитель — главный источник мяса
	section.section.section_alt
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						h2.section-title.section__title Недавно добавленные
						.section__body
							+card-blog([
								{
									href: '#',
									img: 'blog-1',
									pill: 'Формула бренда',
									icon: 'video',
									pillColor: 'red',
									title: 'Кстати, ключевые особенности структуры проекта',
									descr: 'Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-2',
									pill: 'Интервью',
									icon: 'video',
									pillColor: 'orange',
									title: 'Не следует, однако, забывать, что экономическая повестка',
									descr: 'Сегодняшнего дня не оставляет шанса для распределения внутренних для распределения внутренних объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-3',
									pill: 'Статьи',
									icon: '',
									pillColor: 'green',
									title: 'Являясь всего лишь частью общей картины ресурсов',
									descr: 'Хотя само их существование приносит несомненную пользу обществу их существование приносит объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-4',
									pill: 'Формула бренда',
									icon: '',
									pillColor: 'red',
									title: 'Жаждут быть превращены в посмешище',
									descr: 'Интерактивные прототипы и по сей день остаются уделом либералов, которые остаются уделом либералов объявлены    сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								}
							])
	section.section.section_alt
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						.section__header
							h2.section-title.section__title Формула бренда
							a.section__button(href='rubric.html')
								span Перейти в рубрику
								svg.section__button-icon
									use(xlink:href='img/svgSprite.svg#icon__shevron_right')
						.section__body
							+card-blog([
								{
									href: '#',
									img: 'blog-1',
									pill: 'Формула бренда',
									icon: 'video',
									pillColor: 'red',
									title: 'Кстати, ключевые особенности структуры проекта',
									descr: 'Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-2',
									pill: 'Интервью',
									icon: 'video',
									pillColor: 'orange',
									title: 'Не следует, однако, забывать, что экономическая повестка',
									descr: 'Сегодняшнего дня не оставляет шанса для распределения внутренних для распределения внутренних объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-3',
									pill: 'Статьи',
									icon: '',
									pillColor: 'green',
									title: 'Являясь всего лишь частью общей картины ресурсов',
									descr: 'Хотя само их существование приносит несомненную пользу обществу их существование приносит объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-4',
									pill: 'Формула бренда',
									icon: '',
									pillColor: 'red',
									title: 'Жаждут быть превращены в посмешище',
									descr: 'Интерактивные прототипы и по сей день остаются уделом либералов, которые остаются уделом либералов объявлены    сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								}
							])
	section.section.section_alt
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						.section__header
							h2.section-title.section__title Неправовые нормы для директоров
							a.section__button(href='rubric_2.html')
								span Перейти в рубрику
								svg.section__button-icon
									use(xlink:href='img/svgSprite.svg#icon__shevron_right')
						.section__body
							+card-blog([
								{
									href: '#',
									img: 'blog-1',
									pill: 'Формула бренда',
									icon: 'video',
									pillColor: 'red',
									title: 'Кстати, ключевые особенности структуры проекта',
									descr: 'Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-2',
									pill: 'Интервью',
									icon: 'video',
									pillColor: 'orange',
									title: 'Не следует, однако, забывать, что экономическая повестка',
									descr: 'Сегодняшнего дня не оставляет шанса для распределения внутренних для распределения внутренних объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-3',
									pill: 'Статьи',
									icon: '',
									pillColor: 'green',
									title: 'Являясь всего лишь частью общей картины ресурсов',
									descr: 'Хотя само их существование приносит несомненную пользу обществу их существование приносит объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-4',
									pill: 'Формула бренда',
									icon: '',
									pillColor: 'red',
									title: 'Жаждут быть превращены в посмешище',
									descr: 'Интерактивные прототипы и по сей день остаются уделом либералов, которые остаются уделом либералов объявлены    сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								}
							])
	section.section.section_alt
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						.section__header
							h2.section-title.section__title Учитель — главный источник мяса
							a.section__button(href='rubric.html')
								span Перейти в рубрику
								svg.section__button-icon
									use(xlink:href='img/svgSprite.svg#icon__shevron_right')
						.section__body
							+card-blog([
								{
									href: '#',
									img: 'blog-1',
									pill: 'Формула бренда',
									icon: 'video',
									pillColor: 'red',
									title: 'Кстати, ключевые особенности структуры проекта',
									descr: 'Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-2',
									pill: 'Интервью',
									icon: 'video',
									pillColor: 'orange',
									title: 'Не следует, однако, забывать, что экономическая повестка',
									descr: 'Сегодняшнего дня не оставляет шанса для распределения внутренних для распределения внутренних объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-3',
									pill: 'Статьи',
									icon: '',
									pillColor: 'green',
									title: 'Являясь всего лишь частью общей картины ресурсов',
									descr: 'Хотя само их существование приносит несомненную пользу обществу их существование приносит объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-4',
									pill: 'Формула бренда',
									icon: '',
									pillColor: 'red',
									title: 'Жаждут быть превращены в посмешище',
									descr: 'Интерактивные прототипы и по сей день остаются уделом либералов, которые остаются уделом либералов объявлены    сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								}
							])