extends ../pug/layout_default.pug

block variables
	- var isMainPage = false
block meta
	title Управление государственными и муниципальными закупками

block header-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block side-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block content
	section.section.header-body
		.header-body__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12.grid__col_lg-10.col-offset__lg-1
						+header-body([
							{
								title: 'Управление государственными и муниципальными закупками',
								descr: 'Профессиональная переподготовка',
								img: 'course-1'
							}
						])
	section.section
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12.grid__col_lg-10.col-offset__lg-1
					.card-titled-shift
						.card-titled-shift__inner
							+card-titled('Спикеры:')
								+speaker([
									{
										hasImg: true,
										img: 'idiatullin',
										name: '<strong>Ефремова</strong> Наталья Сергеевна',
										descr: 'дипломированный специалист в сфере закупок для государственных и муниципальных нужд. Работает в системе госзакупок с 2002 года.'
									},
									{
										hasImg: true,
										img: 'idiatullin',
										name: '<strong>Кузнецова</strong> Ольга Валерьевна',
										descr: 'эксперт ТИСБИ в сфере госзакупок, Генеральный директор ООО «Ассоциация cопровождений и консультаций Альянс Эксперт»; Эксперт центров оценки квалификаций и экзаменационных центров.'
									}
								])
	section.section.section_alt.course
		.course__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12.grid__col_lg-10.col-offset__lg-1
						.course__row
							.course__cols-info
								.course__text-group
									p.course__text Программа реализуется для председателей и членов закупочных комиссий заказчиков, работников контрактных служб и контрактных управляющих, а также руководителей заказчиков, руководителей контрактных служб заказчиков и их заместителей.
									p.course__text Целью оказания образовательных услуг является комплексное обновление и совершенствование знаний в сфере закупок, формирование и получение новых компетенций, необходимых для выполнения профессиональной деятельности в сфере закупок, изучение новых процессов контрактной системы, способов закупок и условий их применения согласно действующему законодательству Российской Федерации, умение контролировать прозрачность осуществления закупок, предотвращать коррупцию и другие злоупотребления в сфере государственных и муниципальных закупок.
								.course__side-card
									+card-titled('Куратор')
										+curator([
											{
												img: 'sokolova',
												lastName: 'Соколова',
												firstName: 'Фарида Киямовна'
											}
										])
											+link-set([
												{
													icon: '', link: [{href: 'tel:88432948337', text: '(843) 294-83-37'}]
												}
											])
						.course__row
							h2.course__title Преимущества и уникальность программы
							p.course__text Программа разработана в соответствии с требованиями профессиональных стандартов:
							ul.course__list
								li.course__list-item Специалист в сфере закупок (утв. Приказом Министерства труда и социальной защиты РФ от 10 сентября 2015 г. № 625н)
								li.course__list-item Эксперт в сфере закупок (утв. Приказом Министерства труда и социальной защиты РФ от 10 сентября 2015 г. № 626н)
						.course__row
							h2.course__title Условия поступления
							p.course__text Для поступления необходимо заполнить договор, заявление и согласие на обработку персональных данных, а также предоставить копию диплома о высшем или среднем профессиональном образовании и платежное поручение/квитанцию об оплате.
						.course__row
							.card-info
								.card-info__content
									+card-info([
										{
											label: 'Форма обучения',
											text: 'Очно-заочная с применением дистанционных образовательных технологий',
										},
										{
											label: 'Сроки обучения',
											text: 'индивидуально, в любое время',
										},
										{
											label: 'Объём',
											hasHours: true,
											hours: '254',
											text: 'академических<br>часа',
										},
										{
											label: 'Итоговый документ',
											hasIcon: true,
											icon: 'sertificate',
											text: 'Диплом о профессиональной переподготовке',
										},
										{
											label: 'Стоимость обучения',
											hasPrice: true,
											price: '21 500 ₽'
										}
									])
								.card-info__footer
									a.button(href='#' data-hystmodal='#apply') Подать заявку
						.course__row
							h2.course__title Дополнительная информация
							p.course__text По окончании обучения выдается диплом о профессиональной переподготовке установленного образца. Статус диплома о профессиональной переподготовке таков, что дополнительная специальность становится равноправной со специальностью по базовому образованию (среднему профессиональному или высшему) и дает право заниматься новым видом профессиональной деятельности — в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд.
						.course__row
							a.course__telegram(href='#')
								.course__telegram-header
									svg.course__telegram-icon
										use(xlink:href='img/svgSprite.svg#icon__socials_tg')
									h3.course__telegram-title Заголовок
								p.course__telegram-text Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме определения существующих финансовых и административных условий.
	
	section.section.section_alt
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						.section__header
							h2.section-title.section__title Статьи, связанные с курсом
							a.section__button(href='courses.html')
								span Читать в блоге
								svg.section__button-icon
									use(xlink:href='img/svgSprite.svg#icon__shevron_right')
						.section__body
							+card-blog([
								{
									href: '#',
									img: 'blog-1',
									pill: 'Формула бренда',
									icon: 'video',
									pillColor: 'red',
									title: 'Кстати, ключевые особенности структуры проекта',
									descr: 'Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-2',
									pill: 'Интервью',
									icon: 'video',
									pillColor: 'orange',
									title: 'Не следует, однако, забывать, что экономическая повестка',
									descr: 'Сегодняшнего дня не оставляет шанса для распределения внутренних для распределения внутренних объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-3',
									pill: 'Статьи',
									icon: '',
									pillColor: 'green',
									title: 'Являясь всего лишь частью общей картины ресурсов',
									descr: 'Хотя само их существование приносит несомненную пользу обществу их существование приносит объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								},
								{
									href: '#',
									img: 'blog-4',
									pill: 'Формула бренда',
									icon: '',
									pillColor: 'red',
									title: 'Жаждут быть превращены в посмешище',
									descr: 'Интерактивные прототипы и по сей день остаются уделом либералов, которые остаются уделом либералов объявлены    сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую Превозмогая сложившуюся непростую экономическую ситуацию, объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую объявлены сложившуюся непростую экономическую'
								}
							])
	
	section.section.section_alt
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						h2.section-title.section__title Другие курсы этой категории
						.section__body
							+card-courses([
								{
									href: 'course.html',
									img: 'state',
									pill: 'Дистанционное',
									title: 'Управление государственными и муниципальными закупками',
									subtitle: 'Профессиональная переподготовка',
									row: [
										{time: 'Объём', info: '254 академических часа'},
										{time: 'Сроки обучения', info: 'По мере набора группы'}
									]
								},
								{
									href: 'course_2.html?tab=1',
									img: 'purchases',
									pill: 'Очное',
									title: 'Контрактная система в сфере закупок',
									subtitle: 'Профессиональная переподготовка',
									row: [
										{time: 'Объём', info: '254 академических часа'},
										{time: 'Сроки обучения', info: 'В любое время'}
									]
								},
								{
									href: 'course_2.html?tab=2',
									img: 'management',
									pill: 'Дистанционное',
									title: 'Контрактная система в сфере закупок',
									subtitle: 'Профессиональная переподготовка',
									row: [
										{time: 'Объём', info: '254 академических часа'},
										{time: 'Сроки обучения', info: 'В любое время'}
									]
								},
								{
									href: '#',
									img: 'investments',
									pill: 'Очное',
									title: 'Реализация требований ФГОС ДО и профессионального стандарта «Педагог» в деятельности воспитателя при организации основных видов деятельности детей дошкольного возраста с ОВЗ',
									subtitle: 'Профессиональная переподготовка',
									row: [
										{time: 'Объём', info: '254 академических часа'},
										{time: 'Сроки обучения', info: 'В любое время'}
									]
								}
							])