extends ../pug/layout_default.pug

block variables
	- var isMainPage = false
block meta
	title Что такое бренд и для чего он нужен

block header-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block side-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block content
	section.section.header-body-alt
		.header-body-alt__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_sm-8.grid__col_md-7.col-offset__lg-2
						.header-body-alt__content
							p.pill.pill_red Формула бренда
							h1.header-body-alt__title Что такое бренд и для чего он нужен?
							p.header-body-alt__author Автор
							p.header-body-alt__name Елена #[strong Зубарева]
		picture
			source(media='(max-width: 799px)' srcset='img/img__post-bg_@1.jpg 800w')
			source(media='(min-width: 800px)' srcset='img/img__post-bg_@2.jpg 1920w')
			img.header-body-alt__bg(src='img/img__post-bg_@1.jpg' srcset='img/img__post-bg_@1.jpg, img/img__post-bg_@2.jpg' alt='Фон')
	section.section.section_alt.post
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12.grid__col_lg-8.col-offset__lg-2
						.post__content
							p Сегодня предпринимательство переживает нелегкие времена, находясь в условиях ограничительных мер, перенасыщенности рынка различными предпринимательскими услугами и жесткой конкуренции. Наступила эпоха бренда. Эпоха, когда компании конкурируют между собой уже не в рамках ценовой политики и конкурентных преимуществ продукта. Сегодня люди выбирают в первую очередь те компании, которые в их голове занимает позицию номер один. И рука у них тянется за тем продуктом, который в их голове занимает первое место по удовлетворению тех или иных потребностей.
							h2 Заголовок второго уровня
							p Также, формируются новые ценности при взаимодействии с брендами и компаниями. Например, тенденция к «очеловечиванию» бизнеса и брендов. В последние несколько лет крупные мировые бренды уже взяли курс на «стать для потребителей своими», максимально «встраиваясь» в их образ и стиль жизни.
							p Отдельно хотим отметить HR-бренд, которому в последнее время уделяется всё больше внимания. Сильный HR-бренд оказывает положительное  влияние на сотрудников компании. Сотрудники гордятся причастностью к уважаемому бренду и работой в компании, т.к. быть частью такого бизнеса приятно и значимо — как для самих сотрудников, так и для их окружения.
							h3 Заголовок третьего уровня
							p Так что же такое «бренд»? Бренд — это ценности, мнения, ассоциации, эмоции, представления о вашей компании, продукте или услуге в сознании потребителя. В основе бренда лежит философия вашей компании, вашей деятельности. Бренд — это история о том, что откликается в сердце и в голове вашего клиента при упоминании вас или вашей компании. И откликается ли вообще?!
							p Бренд делает бизнес более привлекательным для инвестиций из-за его прочного, обоснованного места на рынке, что повышает стоимость бизнеса.
							blockquote
								p Правильное формирование бренда, работа над ним имеет большое значение в современном мире.
								cite Мао Цзэдун
							p Я, #[a(href='#') Елена Зубарева] — известный бизнес-тренер и практик, представляю к вашему вниманию авторский проект «Формула бренда». Данный проект посвящён тому, как запустить работу по формированию мощного бренда и увеличить стоимость услуг и компании. 
							p Это программа для предпринимателей, экспертов желающих упаковать свой опыт работы в бренд, который будет увеличивать оборот компании в условиях жесткой конкуренции. Также программа подойдёт для продюсеров, топ-менеджеров компаний и всех тех, кто принимает участие в создании, продвижении и продажи продукта или услуги. В рамках образовательного проекта мы поможем разобраться в современной сложной диджитал среде и сформировать концепцию вашего бренда. 
							p
								img(src='img/img__post_@1.jpg' srcset='img/img__post_@2.jpg 2x' alt='')
							p По итогу прохождения авторской программы «Формула бренда» вы получаете:
							ul
								li коуч-сессию по моей авторской методике, направленную на смысловую и функциональную «распаковку» вашего продукта, компании или бренда;
								li глубинное интервью, которое помогает собственнику раскрыться как личности, рассказать о потенциале компании;
								li интересный и обновленный вариант вашего бренда в формате уникального торгового предложения.
							p По итогу прохождения авторской программы «Формула бренда» вы получаете:
							ol
								li коуч-сессию по моей авторской методике, направленную на смысловую и функциональную «распаковку» вашего продукта, компании или бренда;
								li глубинное интервью, которое помогает собственнику раскрыться как личности, рассказать о потенциале компании;
								li интересный и обновленный вариант вашего бренда в формате уникального торгового предложения.
							p Благодаря коуч-сессии вы сможете «разложить» свой продукт, компанию или бренд по смысловым уровням, что поможет вам правильно прописать цели для позиционирования, продвижения, масштабирования своего продукта, компании или бренда. 
							p Глубинное интервью вы получите в формате готового видео высокого качества, которое можно будет использовать в качестве контента на сайте, в социальных сетях. 
							p На основе проведенных коуч-сессии и глубинного интервью, мы найдем новый грани вашего продукта, раскроем новые смыслы и новые пути развития вашего бренда. Всю эту полученную информацию мы сформируем в уникальное торговое предложение в формате медиа-кит с дизайнерским оформлением.
							p Ещё больше актуальной и полезной информации о проекте в нашем аккаунте в Инстаграм #[a(href='#') @formula.brenda]