extends ../pug/layout_default.pug

block variables
	- var isMainPage = false
block meta
	title States

block header-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block side-nav
	+main-nav([
		{link: 'Курсы', href: 'courses.html'},
		{link: 'О нас', href: 'about.html'},
		{link: 'Блог', href: 'blog.html'},
		{link: 'Набор', href: 'recruitment.html'},
		{link: 'Акции', href: 'actions.html'},
		{link: 'Контакты', href: 'about.html#contacts'}
	])

block content
	section.section
		.section__inner
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-8.col-offset__md-2
						.hero
							.hero__search
								h2.hero__subtitle.subtitle Найти курс по названию:
								form.hero__form
									.input.hero__input
										input.input__search(placeholder='Введите название курса' type='search')
									ul.drop-search
										li.drop-search__loader
											+loader
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-8.col-offset__md-2
						.hero
							.hero__search
								h2.hero__subtitle.subtitle Найти курс по названию:
								form.hero__form
									.input.hero__input
										input.input__search(placeholder='Введите название курса' type='search')
									ul.drop-search
										li.drop-search__item
											.drop-search__message Ничего не найдено
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-8.col-offset__md-2
						.hero
							.hero__search
								h2.hero__subtitle.subtitle Найти курс по названию:
								form.hero__form
									.input.hero__input
										input.input__search(placeholder='Введите название курса' type='search')
									+drop-search([
										{link: 'Реализация требований <b>про</b>фессионального стандарта «Педагог» в деятельности учителя начальных классов в процессе организации обучения в соответствии с ФГОС НОО для учащихся с ОВЗ', href: '#'},
										{link: 'Преподаватель в системе <b>про</b>фессионального образования', href: '#'},
										{link: '<b>Про</b>фессональное управление <b>про</b>ектами', href: '#'}
									])
		br
		br
		br
		br
		br
		br
		br
	section.section.section_alt
		.section__inner.courses
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						h1.page-title.courses__title Курсы
						.courses__filter
							.courses__filter-item
								label.courses__filter-label Категория
								+select([
									{value: '0', option: 'Все категории'},
									{value: '1', option: 'Государственное и муниципальное управление и сфера закупок'},
									{value: '2', option: 'Менеджмент. Управление. Кадры'},
									{value: '3', option: 'Экономика. Финансы. Страхование'},
									{value: '4', option: 'Туризм. Гостиничное дело. Логистика'},
									{value: '5', option: 'Юриспруденция'},
									{value: '6', option: 'Социальная сфера'},
									{value: '7', option: 'Педагогическое образование'},
									{value: '8', option: 'Информационные технологии'},
									{value: '9', option: 'Прочее'}
								], 'courses__select')
							.courses__filter-item
								label.courses__filter-label Форма обучения
								+select([
									{value: '0', option: 'Все'},
									{value: '1', option: 'Очная'},
									{value: '2', option: 'Дистанционная'}
								], 'courses__select')
							.courses__filter-item
								label.courses__filter-label Вид программы
								+select([
									{value: '0', option: 'Все'},
									{value: '1', option: 'Повышение квалификации'},
									{value: '2', option: 'Повышение квалификации'},
									{value: '3', option: 'Профессиональное обучение'}
								], 'courses__select')
						br
						br
						br
						br
						br
			.grid
				.grid__row
					.grid__col.grid__col_xs-12.grid__col_md-12
						h2 Пагинация
						+pagination
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
			