// В этом файле должны быть стили для БЭМ-блока card-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-info {
	background-color: var(--color-white);
	border-radius: 24px;
	box-shadow: var(--drop-shadow-card);
	overflow: hidden;
	&__header {
		display: flex;
	}
	&__body {}
	&__content {
		display: grid;
		@media (min-width: $screen-nexus) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: $screen-md) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		&_hidden {
			display: none;
		}
	}
	&__footer {
		box-shadow: var(--inner-shadow-top);
		display: flex;
		justify-content: center;
		padding: 24px;
		@media (min-width: $screen-sm) {
			padding: 32px;
		}
	}
	&__item {
		padding: 24px;
		@media (min-width: $screen-sm) {
			padding: 32px;
		}
		@media (min-width: $screen-lg) {
			padding: 40px;
		}
		& + & {
			box-shadow: var(--inner-shadow-top);
		}
		&:nth-of-type(2) {
			@media (min-width: $screen-nexus) {
				box-shadow: var(--inner-shadow-left);
			}
		}
		&:nth-of-type(3) {
			@media (min-width: $screen-md) {
				box-shadow: var(--inner-shadow-left);
			}
		}
		&:nth-of-type(4) {
			@media (min-width: $screen-nexus) {
				box-shadow: var(--inner-shadow-top), var(--inner-shadow-left);
			}
			@media (min-width: $screen-md) {
				padding: 32px 16px 32px 32px;
			}
			@media (min-width: $screen-lg) {
				padding: 40px 24px 40px 40px;
			}
			
		}
		&:nth-of-type(5) {
			@media (min-width: $screen-nexus) {
				grid-column: 1 / 3;
			}
			@media (min-width: $screen-md) {
				box-shadow: var(--inner-shadow-top), var(--inner-shadow-left);
				grid-column: 2 / 4;
			}
		}
	}
	&__label {
		color: var(--color-dark-secondary);
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.01em;
		line-height: 115%;
		margin: 0 0 4px 0;
	}
	&__text {
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-size: 14px;
		letter-spacing: 0.01em;
		line-height: 135%;
		margin: 0;
		@media (min-width: $screen-lg) {
			line-height: 150%;
			font-size: 16px;
		}
		&_compressed {
			font-feature-settings: 'pnum' on, 'lnum' on;
			font-size: 14px;
			letter-spacing: 0.01em;
			line-height: 125%;
			margin: 0;
			@media (min-width: $screen-lg) {
				font-size: 16px;
			}
		}
	}
	&__descr {
		align-items: center;
		display: flex;
	}
	&__number {
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-size: 38px;
		font-weight: 400;
		letter-spacing: 0.01em;
		line-height: 100%;
		margin: 0 12px 0 0;
		@media (min-width: $screen-md) {
			font-size: 48px;
		}
	}
	&__icon {
		fill: var(--color-brand);
		flex-shrink: 0;
		height: 40px;
		margin-right: 8px;
		width: 40px;
		@media (min-width: $screen-lg) {
			width: 48px;
			height: 48px;
		}
	}
	&__price {
		color: var(--color-brand);
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-size: 44px;
		font-weight: 700;
		letter-spacing: 0.01em;
		line-height: 100%;
		margin: 0;
		@media (min-width: $screen-nexus) {
			font-size: 54px;
		}
		@media (min-width: $screen-lg) {
			font-size: 64px;
		}
	}
}
