.side-nav
	.side-nav__menu
		block side-nav
	.side-nav__phones
		+link-set([
			{
				icon: '', link: [
					{href: 'tel:88432948330', text: '(843) 294-83-30'},
					{href: 'tel:88432948332', text: '<span>(843)</span> 294-83-32'},
					{href: 'tel:88432948337', text: '<span>(843)</span> 294-83-37'}
				]
			}
		])