#ask.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal(role='dialog' aria-modal='true')
			.modal__header
				h2.modal__title Задать вопрос
				svg.modal__close(data-hystclose='')
					use(xlink:href='/img/svgSprite.svg#icon__cross')
			.modal__body
				form.modal__form
					.modal__grid
						.modal__grid-col
							+field([
								{
									label: 'Фамилия',
									placeholder: '',
									type: 'text',
									value: 'Пушкин',
									required: true
								},
								{
									label: 'Имя',
									placeholder: '',
									type: 'text',
									value: 'Александр',
									required: true
								}
							])
						.modal__grid-col
							+field([
								{
									label: 'Почта',
									placeholder: '_@_',
									type: 'email',
									value: 'pushkin@mail.ru',
									required: true
								},
								{
									label: 'Телефон',
									placeholder: '+7 ___ ___-__-__',
									type: 'tel',
									value: '+7 950 123-45-67',
									required: true
								}
							])
					.modal__grid
						.modal__grid-col
							+field([
								{
									label: 'Отчество <span>(не обязательно)</span>',
									placeholder: '',
									type: 'text',
									value: 'Сергеевич'
								},
								{
									label: 'Должность',
									placeholder: '',
									type: 'text',
									value: 'Поэт'
								}
							])
						.modal__grid-col
							.field
								label.field__label Комментарий
								.input.field__input
									textarea.input__textarea Я памятник воздвиг себе нерукотворный
					.modal__button
						button.button Задать вопрос
					small.modal__info
						| Этот сайт защищён reCAPTCHA и использует 
						a.modal__link(href='https://policies.google.com/privacy') Политику конфиденциальности
						|  и 
						a.modal__link(href='https://policies.google.com/terms') Условия использования
						|  Google.

#apply.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal(role='dialog' aria-modal='true')
			.modal__header
				h2.modal__title Подать заявку
				svg.modal__close(data-hystclose='')
					use(xlink:href='/img/svgSprite.svg#icon__cross')
			.modal__body
				form.modal__form
					.modal__grid
						.modal__grid-col
							+field([
								{
									label: 'Фамилия',
									placeholder: '',
									type: 'text',
									value: 'Пушкин',
									required: true
								},
								{
									label: 'Имя',
									placeholder: '',
									type: 'text',
									value: 'Александр',
									required: true
								}
							])
						.modal__grid-col
							+field([
								{
									label: 'Почта',
									placeholder: '_@_',
									type: 'email',
									value: 'pushkin@mail.ru',
									required: true
								},
								{
									label: 'Телефон',
									placeholder: '+7 ___ ___-__-__',
									type: 'tel',
									value: '+7 950 123-45-67',
									required: true
								}
							])
					.modal__grid
						.modal__grid-col
							+field([
								{
									label: 'Отчество <span>(не обязательно)</span>',
									placeholder: '',
									type: 'text',
									value: 'Сергеевич'
								},
								{
									label: 'Должность',
									placeholder: '',
									type: 'text',
									value: 'Поэт'
								}
							])
						.modal__grid-col
							.field
								label.field__label Комментарий
								.input.field__input
									textarea.input__textarea Я памятник воздвиг себе нерукотворный
					.modal__button
						button.button Подать заявку
					small.modal__info
						| Этот сайт защищён reCAPTCHA и использует 
						a.modal__link(href='https://policies.google.com/privacy') Политику конфиденциальности
						|  и 
						a.modal__link(href='https://policies.google.com/terms') Условия использования
						|  Google.
						
#applyAccepted.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal.modal_small(role='dialog' aria-modal='true')
			.modal__header.modal__header_centered
				h2.modal__title Ваша заявка принята
			.modal__body.modal__body_centered
				.button(data-hystclose='') Хорошо
					
#applyErr.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal.modal_small(role='dialog' aria-modal='true')
			.modal__header.modal__header_centered
				h2.modal__title Ошибка, повторите позднее
			.modal__body.modal__body_centered
				.button(data-hystclose='') Хорошо