//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/advantages/advantages.pug
include ../blocks/card-actions/card-actions.pug
include ../blocks/card-apply/card-apply.pug
include ../blocks/card-blog/card-blog.pug
include ../blocks/card-categories/card-categories.pug
include ../blocks/card-courses/card-courses.pug
include ../blocks/card-courses-alt/card-courses-alt.pug
include ../blocks/card-info/card-info.pug
include ../blocks/card-no-title/card-no-title.pug
include ../blocks/card-titled/card-titled.pug
include ../blocks/citation/citation.pug
include ../blocks/courses-list/courses-list.pug
include ../blocks/curator/curator.pug
include ../blocks/doc-tile/doc-tile.pug
include ../blocks/drop-search/drop-search.pug
include ../blocks/field/field.pug
include ../blocks/header-body/header-body.pug
include ../blocks/link-set/link-set.pug
include ../blocks/loader/loader.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/pagination/pagination.pug
include ../blocks/select/select.pug
include ../blocks/speaker/speaker.pug
include ../blocks/steps/steps.pug
include ../blocks/team/team.pug
