// В этом файле должны быть стили для БЭМ-блока card-blog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-blog {
	display: grid;
	grid-gap: 16px;
	position: relative;
	width: 100%;
	z-index: 2;
	@media (min-width: $screen-nexus) {
		grid-auto-rows: 1fr;
		grid-gap: 24px;
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: $screen-md) {
		grid-column-gap: 32px;
		grid-template-columns: repeat(3, 1fr);
	}
	@media (min-width: $screen-lg) {
		grid-template-columns: repeat(4, 1fr);
	}
	&__item {
		color: var(--color-dark-primary);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		text-decoration: none;
		transition: transform .25s ease;
		&:hover {
			transform: translateY(-2px);
		}
		&:nth-of-type(4) {
			@media (min-width: $screen-md) {
				display: none;
			}
			@media (min-width: $screen-lg) {
				display: flex;
			}
		}
	}
	&__cover {
		height: 0;
		overflow: hidden;
		padding-top: 56.58%;
		position: relative;
		width: 100%;
	}
	&__img {
		border-radius: 24px;
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}
	&__pill {
		bottom: 12px;
		display: flex;
		left: 12px;
		position: absolute;
	}
	&__icon {
		align-items: center;
		background-color: var(--color-white);
		border-radius: 24px;
		display: flex;
		height: 24px;
		justify-content: center;
		margin-left: 12px;
		width: 24px;
		& svg {
			fill: var(--color-dark-primary);
			height: 12px;
			width: 12px;
		}
	}
	&__content {
		margin-top: 16px;
	}
	&__title {
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.01em;
		line-height: 125%;
		margin: 0;
	}
	&__text-truncate {
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-size: 14px;
		font-weight: 500;
		line-height: 125%;
		margin: 0;
	}
	&__descr {
		margin-top: 8px;
	}
}
